a,
.MuiIcon-root {
  color: rgb(0, 107, 179);
}

.workload-square-l,
.workload-square-e,
.workload-square-p {
  float: left;
  height: 15px;
  width: 10px;
  margin: 1px;
}
.workload-square-l {
  background-color: #147efb;
}
.workload-square-e {
  background-color: #53d769;
}
.workload-square-p {
  background-color: #fc3d39;
}

.workload-header-l,
.workload-header-e,
.workload-header-p {
  margin: 0;
}
.workload-header-l {
  color: #147efb;
}
.workload-header-e {
  color: #53d769;
}
.workload-header-p {
  color: #fc3d39;
}
